<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for key,vuse in user.items() %}
    <p>{{ key }}:{{ vuse }}</p>

{% endfor %}
{% for website in websites %}
    <p>{{ website }}</p>

{% endfor %}
<hr>
<table>
    <thead>
    <th>书名</th>
    <th>作者</th>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>

            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
        </tr>

    {% endfor %}

    </tbody>
</table>


</body>
</html>